/* ---------------------------*/
/*  ---- Basic setup -------- */
/* -------orange #df7b29------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-orange: #bf6d24;
    --second-orange: #aa5b1a;
    --top-sticky-nav: #ffffff;
    --top-sticky-nav-text: #000000;
    --top-sticky-nav-text-hover: #62203c;
}



html,
body {
    overflow-x: hidden;
    background-color: white;
    font-family: sans-serif, Yekan;
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

html {
/*    scroll-behavior: smooth;*/
}

/* ---------------------------*/
/*  ---- reusable  -------- */
/* ---------------------------*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 2%;
    text-align: center;
}

.box p {
    line-height: 150%;
}

/*  ---- HEADINGS  -------- */

h1,
h2,
h3 {
    font-weight: 100;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    margin-bottom: 20PX;
}

h2 {
    /*    color: #000000;*/
    font-size: 180%;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    background-color: var(--first-orange);
    width: 200px;
    height: 2px;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
    transition: width 2s;

}

h2:hover:after {
    width: 400px;
}

h3 {
    font-size: 130%;
    margin-bottom: 30px;
}

/*  ---- PARAGRAPH  -------- */

.long-line {
    /*    font-weight: 330;*/
    font-size: 110%;
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin-right: 15%;
    margin-bottom: 30px;
    color: black;
}



/*  ---- Buttons  -------- */

.btn:visited,
.btn:link,
input[type=submit] {
    margin-top: 20px;
    display: inline-block;
    padding: 4px 35px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    padding-bottom: 10px;
    margin-right: 5px;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    outline: 0;

}

.btn:hover,
.btn:active,
input[type=submit]:hover {
    background-color: var(--second-orange);
}

.btn-full:visited,
.btn-full:link,
input[type=submit] {
    background-color: var(--first-orange);
    border: 1px solid var(--first-orange);

    /*    color: #223d71;*/
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover {
    background-color: var(--second-orange);
    border: 1px solid var(--second-orange);

}

.btn-ghost:visited,
.btn-ghost:link {
    border: 1px solid var(--first-orange);
    color: var(--first-orange);
    font-weight: 350;

    background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 50%, var(--first-orange) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid var(--first-orange);
    color: #fff;
    background-position: right bottom;


}

/*  ---- ICON  -------- */
.icon-B {
    /*  !!!!!!!!!!!!!!!!!!!!!!!!!  */
}

ion-icon {
    --ionicon-stroke-width: 16px;
    font-size: 400%;
    color: var(--first-orange);
    margin-bottom: 18px;
}

.small-icon {
    font-size: 120%;
    height: 20px;
    width: 30px;
    /*     TO ALIGN ICON AND TEXT 1   */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    margin-top: -6px;
    margin-left: 10px;
    /*     TO ALIGN ICON AND TEXT 2   */

}


/* ---------------------------*/
/*  ---- header  -------- */
/* ---------------------------*/



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}


.hero-text-box {
    position: absolute;
    width: 100%px;
    top: 30%;
    right: 20%;
    transform: translate(0%, 0%)
}

.logo {
    opacity: 85%;
    height: 120px;
    width: auto;
    float: left;
    margin-top: 15px;
}

.main-nav {
    list-style: none;
}


.main-nav li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 55px;
}



.main-nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0;
    background: #ff0000;

}

.main-nav a:link,
.main-nav a:visited,
.main-nav a:active {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(177, 79, 79, 0);
    outline: 0;
}

.main-nav a:after {
    padding: 5px 10px;
    display: block;
    content: '';
    border-bottom: solid 3px #df7b29;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.main-nav a:hover:after {
    transform: scaleX(1);
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.burger-icon {
    background: url("img/burguer%20white.svg");
    background-size: cover;
    font-size: 250%;
    color: #fff;
    height: 50px;
    width: 50px;
    display: block;
    animation: slideInUp;
    animation-duration: 0.5s
}

.mobile-nav-icon-close {
    background: url("img/close%20white.svg");
    background-size: cover;
    color: #fff;
    height: 40px;
    width: 40px;
    display: block;
    animation: fadeInUp;
    animation-duration: 0.5s
}

/* ===    sticly nav ==== */

.sticky-nav {
    list-style: none;
    background-color: var(--top-sticky-nav);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 1px rgba(221, 221, 221, 0.52);
    z-index: 9999;
    transition: all 1s;

}

.sticky-nav .main-nav {
    margin-top: 10px;

}

.sticky-nav .main-nav li {
    margin-right: 40px;
    margin-top: 8px;
    margin-bottom: 0;
}

.sticky-nav .main-nav a:link,
.sticky-nav .main-nav a:visited,
.sticky-nav .main-nav a:active,
.sticky-nav .main-nav a {
    text-decoration: none;
    color: var(--top-sticky-nav-text);
    display: inline-block;
    outline: 0;
}

.sticky-nav .main-nav a:hover {
    /*    color: var(--top-sticky-nav-text-hover);*/

}

.sticky-nav .main-nav li a:after {
    padding: 11px 10px;
    display: block;
    content: '';
    border-bottom: solid 3px #000000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.sticky-nav .main-nav a:hover:after {
    transform: scaleX(1);

}

.logo-black {
    display: none;
    height: 65px;
    width: auto;
    float: left;
    margin-top: 5px;
}

.sticky-nav .logo {
    display: none;
}

.sticky-nav .logo-black {
    display: block;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@font-face {
    font-family: 'Yekan';
    src: url('./Yekan.eot');
    /* IE9 Compat Modes */
    src: url('./Yekan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./Yekan.woff2') format('woff2'),
        /* Modern Browsers */
        url('./Yekan.woff') format('woff'),
        /* Modern Browsers */
        url('./Yekan.otf') format('opentype'),
        /* Open Type Font */
        url('./Yekan.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./Yekan.svg#Yekan') format('svg');
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------*/
/*  ---- meals  -------- */
/* ---------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: right;
    width: 25%;
}

.meals-showcase figure {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meals-showcase img {
    opacity: 0.7;
    width: 100%;
    margin: 0;
    transform: scale(1.5);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.meals-showcase img:hover {
    opacity: 1;
    transform: scale(1.04);
}



/* ---------------------------*/
/*  ---- PHONE  -------- */
/* ---------------------------*/

.section-phone {
    background-color: #f2f2f2;
    padding-top: 100px;
}

.step {
    padding-bottom: 40px;
}

.step p {
    margin: 0px;
    font-size: 130%;
    padding-right: 20px;
    height: auto;
    width: 100%;
    display: block;
}

.step div {
    border: solid 2px var(--first-orange);
    width: 57px;
    height: 57px;
    text-align: center;
    padding: 8px;
    font-size: 140%;
    font-weight: 350;
    color: var(--first-orange);
    border-radius: 100%;
    float: right;
    display: inline-block;
    margin-left: 20px;
}

.phone-content {
    margin-top: 40px;
    display: block;
}

.phone-content:first-child {
    margin-top: 120px;
    padding-right: 20px;
}

.phone-content:last-child {
    text-align: left;
    padding-left: 4%;
}

.phone {
    width: 60%;
    overflow: hidden;
}


.btn-app img {
    width: auto;
    height: 70px;
    margin-top: 100px;
    transform: scale(1);
    transition: transform 0.5s;
}

.btn-app img:hover {
    transform: scale(1.02);
}

/* ---------------------------*/
/*  ---- CITY SECTION  -------- */
/* ---------------------------*/

.second-row {}

.section-city {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
}

.city-box {
    padding-bottom: 30px;
    display: block;
    background-color: #f4f4f4;
    box-shadow: 7px 11px 12px -5px rgba(163, 163, 163, 0.55);
    transform: scale(1);
    transition: transform 0.5s, box-shadow 0.5s;
}

.city-box:hover {
    transform: scale(1.02);
    box-shadow: 2px 11px 12px -5px rgba(163, 163, 163, 0.37);
}

.city-box p {
    padding-bottom: 10px;
    font-size: 100%;
}

.city-box h3 {
    margin: 15px auto;
    margin-right: 10px;
}

.city-box div {
    float: right;
    display: inline-block;
}

.city-box img {
    width: 100%;
    height: auto;

}


.btn-city {
    width: 100%;
    text-align: center;
}



.city-feature {
    margin-bottom: 9px;
}



/* ---------------------------*/
/*  ---- CITY SECTION  -------- */
/* ---------------------------*/

.section-testimonials {
    padding-top: 80px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

}

blockquote {
    padding: 2%;
    font-weight: 400;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    text-align: justify;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    font-weight: 100;
    font-family: serif;
    display: block;

}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    vertical-align: middle;
}


/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
    box-shadow: 7px 11px 12px -5px rgba(163, 163, 163, 0.55);
    transform: scale(1);
    transition: transform 0.5s, box-shadow 0.5s;
}

.plan-box:hover {
    transform: scale(1.01);
    box-shadow: 2px 11px 12px -5px rgba(163, 163, 163, 0.37);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}



/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.container .first_div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

.container .second_div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}


input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 0px 10px 5px;
}

*:focus {
    outline: 0.1px solid #d0d0d0;
    background-color: #f7f7f7;
}



/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
    direction: ltr;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-left: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 60%;
}

.logo-facebook,
.logo-twitter,
.logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.logo-facebook:hover {
    color: #3b5998;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-instagram:hover {
    color: #be2755;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* ----------------------------------------------- */
/* Animated */
/* ----------------------------------------------- */


.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}
